{% extends 'base.html' %}



{% block title %} Posts {% endblock %}

{% block body %}

    <div class="row">
        <div class="offset-3 col-6">
            <form method="post" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div class="mb-3">
                    <label for="title" class="form-label">{{ form.title.label }}</label>
                    {{ form.title(class_="form-control") }}
                </div>
                <div class="mb-3">
                    <label for="body" class="form-label"> {{ form.body.label }}</label>
                    {{ form.body(class_="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.picture(class_="form-control") }}
                </div>
                <input type="submit" class="btn btn-success" value="save"/>
            </form>
        </div>
    </div>

{% endblock %}
